[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggmice"]
	path = ggmice
	url = https://github.com/amices/ggmice
[submodule "mice"]
	path = mice
	url = https://github.com/amices/mice
